body {
    margin: 0px;
	display: flex;
	height: 100vh;
    width: 100vw;
	align-items:center;
    justify-content: center;
    background-color: #EEEEEE;
}
html * {
    box-sizing: border-box;
}
.content {
    height: 80%;
    width: 80%;
}
.buttons-container {
    padding: 5%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-items: center;
    border: 4px solid #ff7300;
    background-color: white;
    border-radius: 75px;
}
.buttons-column {
    width: 50%;
    height: 100%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: space-between;
    align-items: center;
}
.navigation-column {
    width: 20%;
    height: 100%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: space-between;
    align-items: center;
}
.big-button {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 28px;
    margin: 30px;
    width: 75%;
    height: 25%;
    border-radius: 75px;
    color: white;
    background-color: #ff7300;
    border: 5px solid #cb5f1b;
    text-decoration: none;
}
.schedule-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.schedule-image-container {
    width: 100%;
    height: 100%;
    flex: 1.5 1 auto;
    margin: 15px;
    border:5px solid #ff7300;
    border-radius: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.schedule-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.time-schedule-image {
    margin: 25px;
    width: 90%;
    height: 90%;
    object-fit: contain;
}
.sidebar {
    width: 10%;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-image {
    width: 75%;
    margin: 10%;
    height: auto;
    display: inline;
    top: 0;
    left: 0;
}